HeliumCohDVCS.aux
HeliumCohDVCS.log
HeliumCohDVCSNotes.bib
HeliumCohDVCS.pdf
.nfs000000000*
*.bbl
*.log
*.aux
*.blg
.DS_Store
._.DS_Store
._*.png
*.epub
*.mobi
EG6_RTPC_NIM.pdf
EG6_analysis_note_*.pdf
2nd_round_comments.pdf
EG6_analysis_note_vf_Dec2016.pdf
final_round_comments.pdf
dvcs_he4_prl.pdf
incoherent_prl.pdf
*.mtc0
*.log
*.aux
*.spl
*.nfs000000*
*.bbl
*.blg
*.end
*.dpth
*.toc
*.auxlock
*.out
*.brf
prc-dvcshelium.pdf
